body {
  background-color: #f0f0f0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}
p {
  border: 1px solid black;
  display: grid;
  place-items: center;
  font-family: ole;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 6rem;
  padding: 5rem;
  border-radius: 50px;
  -webkit-text-stroke: 50% black;
}
.highlight {
  background: black; /* or whatever color */
  color: white;
  padding: 0 0.3rem;
  border-radius: 4px;
}
